<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intgram.db.DAO">


	<insert id="join" parameterType="com.intgram.model.MemberVO">
		INSERT INTO TBL_MEMBER(MEM_ID, MEM_PW, MEM_NAME,COM_ID, MEM_POSITION,
		MEM_JOINDATE)
		VALUES (#{id},#{pw},#{mem_name},#{com_num},#{position}, SYSDATE)
	</insert>

	<select id="login" parameterType="com.intgram.model.MemberVO"
		resultType="com.intgram.model.MemberVO">
		SELECT * FROM TBL_MEMBER
		WHERE MEM_ID= #{mem_id}
		AND MEM_PW= #{mem_pw}
	</select>

	<select id="getdata" parameterType="com.intgram.model.MemberVO"
		resultType="com.intgram.model.Co2VO">
		select * from TBL_MEMBER_CO2
		where MEM_ID = #{mem_id}
	</select>

	<insert id="insertC" parameterType="com.intgram.model.Co2VO">
		insert into
		TBL_MEMBER_CO2(MEM_ID, TRANSPORTATION, MEM_FUEL_NAME, FUEL_AMOUNT)
		values(#{mem_id}, #{transportation}, #{mem_fuel_name}, #{fuel_amount})
	</insert>

</mapper>